streamlit==1.39.0
numpy==1.26.4
scipy==1.11.4
setuptools>=68.0.0
wheel>=0.41.0
resemblyzer==0.1.4
webrtcvad-wheels==2.0.14
faster-whisper==1.0.3
librosa==0.10.2.post1
soundfile==0.12.1
torch==2.2.2
torchaudio==2.2.2
